
<div class="div">
  <img
    loading="lazy"
    srcset="..."
    class="img"
  />
  <div class="div-2">
    <div class="div-3">
      <div class="div-4">Step 2</div>
      <div class="div-5">Generate code</div>
      <div class="div-6">
        <div class="div-7">
          <div class="div-8"><div class="div-9">1</div></div>
          <div class="div-10">
            <span style="color: rgba(255, 255, 255, 1)">
              Select any layer or frame or
            </span>
            <span style="color: rgba(24, 180, 244, 1)">
              use a sample design
            </span>
          </div>
        </div>
        <div class="div-11">
          <div class="div-12"><div class="div-13">2</div></div>
          <div class="div-14">Click ‘Generate code’</div>
        </div>
        <div class="div-15">
          <div class="div-16"><div class="div-17">3</div></div>
          <div class="div-18">The Builder.io editor will auto-launch</div>
        </div>
      </div>
    </div>
    <img
      loading="lazy"
      srcset="..."
      class="img-2"
    />
  </div>
</div>
<style>
  .div {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
    position: relative;
    display: flex;
    min-height: 1200px;
    width: 100%;
    padding: 70px 20px 56px;
  }
  @media (max-width: 991px) {
    .div {
      max-width: 100%;
    }
  }
  .img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-2 {
    position: relative;
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1051px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1011px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    color: #caf829;
    letter-spacing: -1px;
    align-self: start;
    width: 559px;
    max-width: 100%;
    font: 500 50px/170.36% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-4 {
      font-size: 40px;
    }
  }
  .div-5 {
    color: #fff;
    letter-spacing: -2.88px;
    align-self: start;
    margin-top: 24px;
    text-wrap: nowrap;
    font: 400 72px/118.305% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      font-size: 40px;
      text-wrap: initial;
    }
  }
  .div-6 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-top: 24px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
    }
  }
  .div-7 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-8 {
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 2px solid #ac7ff4;
    background-color: #1e1e1e;
    align-self: stretch;
    display: flex;
    width: 70px;
    max-width: 100%;
    flex-direction: column;
    padding: 21px 20px;
  }
  .div-9 {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    align-self: center;
    text-wrap: nowrap;
    font: 600 40px/150% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-9 {
      text-wrap: initial;
    }
  }
  .div-10 {
    color: #18b4f4;
    align-self: center;
    text-wrap: nowrap;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 40px/150% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      text-wrap: initial;
    }
  }
  .div-11 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-top: 16px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-12 {
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 2px solid #ac7ff4;
    background-color: #1e1e1e;
    align-self: stretch;
    display: flex;
    width: 70px;
    max-width: 100%;
    flex-direction: column;
    padding: 21px 20px;
  }
  .div-13 {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    align-self: center;
    text-wrap: nowrap;
    font: 600 40px/150% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      text-wrap: initial;
    }
  }
  .div-14 {
    color: #fff;
    align-self: center;
    max-width: 986px;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 40px/150% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
    }
  }
  .div-15 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-top: 16px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-16 {
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 2px solid #ac7ff4;
    background-color: #1e1e1e;
    align-self: stretch;
    display: flex;
    width: 70px;
    max-width: 100%;
    flex-direction: column;
    padding: 21px 20px;
  }
  .div-17 {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    align-self: center;
    text-wrap: nowrap;
    font: 600 40px/150% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      text-wrap: initial;
    }
  }
  .div-18 {
    color: #fff;
    align-self: center;
    max-width: 986px;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 40px/150% Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      max-width: 100%;
    }
  }
  .img-2 {
    aspect-ratio: 1.87;
    object-fit: cover;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: center;
    margin-top: 51px;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
</style>
